body {
    /* background: no-repeat center/100% url("images/IMG_6736.jpeg") */
    background-color: ghostwhite;
}
.first-image-flexbox {
    display: flex;
    flex-direction: row;
}

.second-image-flexbox {
    display: flex;
    flex-direction: row;
}

.third-image-flexbox {
    display: flex;
    flex-direction: row;
}

.fourth-image-flexbox {
    display: flex;
    flex-direction: row;
}

.fourth-image-flexbox {
    display: flex;
    flex-direction: row;
}
.fifth-image-flexbox {
    display: flex;
    flex-direction: row;
}
.sixth-image-flexbox {
    display: flex;
    flex-direction: row;
}
.seventh-image-flexbox {
    display: flex;
    flex-direction: row;
}

img {
    width: 100%;
    margin: 10px;
    border: 5px solid floralwhite;
}